<div class="row justify-content-md-center">
  <div class="col-md-10">
    <h2><%= @item.title %></h2>
    <p><%= @item.description %></p>
  </div>

  <div class="col-md-4">
    <%= link_to "Back", root_path %>
  </div>
</div>